### Manipulating Data Frames with Pandas
* Indexing data frames
* Slicing data frames
* Filtering data frames
* Transforming data frames
* Index objects and labeled data
*  Hierarchical indexing
* Pivoting data frames
* Stacking and unstacking data frames
* Melting data frames
* Categoricals and groupby

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

In [ ]:
data = pd.read_csv('../input/2016.csv')
data.head()

### INDEXING DATA FRAMES
* Indexing using square brackets
* Using column attribute and row label
* Using loc accessor
* Selecting only some columns

In [ ]:
data = data.set_index('Happiness Rank')
data.head()

Indexing using square brackets. We can access a value of what we entered an index

In [ ]:
data['Happiness Score'][1]

There is a different way to use column attributes and row label.

In [ ]:
data.Region[10]

So when we want to use ' Loc ' accessor :

In [ ]:
data.loc[1,['Region']]

When we want to focus especially some columns, we can use this term :

In [ ]:
data[['Region', 'Happiness Score']]

### SLICING DATA FRAME
* Difference between selecting columns
    * Series and data frames
* Slicing and indexing series
* Reverse slicing 
* From something to end

Difference between selecting columns: series and dataframes

In [ ]:
print(type(data["Region"]))     # series
print(type(data[["Region"]]))   # data frames

Slicing and indexing series :

In [ ]:
data.loc[1:10,"Region":"Freedom"]

There is the reverse version of slicing :

In [ ]:
data.loc[10:1:-1,"Region":"Freedom"]

In [ ]:
data.loc[1:10,"Trust (Government Corruption)":] #From a column to end

### FILTERING DATA FRAMES
Creating boolean series
Combining filters
Filtering column based others

In [ ]:
boolean = data['Happiness Score'] > 7.000
data[boolean]

Combining two different filter.

In [ ]:
boolean1 = data['Region'] == 'Western Europe'
boolean2 = data['Freedom'] < 0.5
data[boolean1 & boolean2]

Filtering column based antoher column.

In [ ]:
data.Region[data.Generosity < 0.1]

### TRANSFORMING DATA
* Plain python functions
* Lambda function: to apply arbitrary python function to every element
* Defining column using other columns

In [ ]:
# Plain python functions
def div(n):
    return n/2
data['Happiness Score'].apply(div)

In [ ]:
#lambda function
data['Generosity'].apply(lambda n : n/2)

In [ ]:
# Defining column using other columns
data["Confidence"] = (data['Lower Confidence Interval'] + data['Upper Confidence Interval']) / 2
data.head()

### INDEX OBJECTS AND LABELED DATA
index: sequence of label

In [43]:
# our index name is this:
print(data.index.name)
# lets change it
data.index.name = "index_name"
data.head()

Happiness Rank

                Country    ...     Confidence
index_name                 ...
1               Denmark    ...          7.526
2           Switzerland    ...          7.509
3               Iceland    ...          7.501
4                Norway    ...          7.498
5               Finland    ...          7.413

[5 rows x 13 columns]

In [45]:
# Overwrite index
# if we want to modify index we need to change all of them.
data.head()
# first copy of our data to data3 then change index 
data1 = data.copy()
# lets make index start from 100. It is not remarkable change but it is just example
data1.index = range(100,257,1)
data1.head()

         Country          Region     ...      Dystopia Residual  Confidence
100      Denmark  Western Europe     ...                2.73939       7.526
101  Switzerland  Western Europe     ...                2.69463       7.509
102      Iceland  Western Europe     ...                2.83137       7.501
103       Norway  Western Europe     ...                2.66465       7.498
104      Finland  Western Europe     ...                2.82596       7.413

[5 rows x 13 columns]

### HIERARCHICAL INDEXING
* Setting indexing

In [46]:
# lets read data frame one more time to start from beginning
data = pd.read_csv('../input/2016.csv')
data.head()
# As you can see there is index. However we want to set one or more column to be index

       Country          Region        ...          Generosity  Dystopia Residual
0      Denmark  Western Europe        ...             0.36171            2.73939
1  Switzerland  Western Europe        ...             0.28083            2.69463
2      Iceland  Western Europe        ...             0.47678            2.83137
3       Norway  Western Europe        ...             0.37895            2.66465
4      Finland  Western Europe        ...             0.25492            2.82596

[5 rows x 13 columns]

In [50]:
# Setting index : type 1 is outer type 2 is inner index
data1 = data.set_index(["Happiness Score","Family"]) 
data1.head(100)
# data1.loc["Fire","Flying"] # howw to use indexes

                                        Country        ...        Dystopia Residual
Happiness Score Family                                 ...
7.526           1.16374                 Denmark        ...                  2.73939
7.509           1.14524             Switzerland        ...                  2.69463
7.501           1.18326                 Iceland        ...                  2.83137
7.498           1.12690                  Norway        ...                  2.66465
7.413           1.13464                 Finland        ...                  2.82596
7.404           1.09610                  Canada        ...                  2.70485
7.339           1.02912             Netherlands        ...                  2.70749
7.334           1.17278             New Zealand        ...                  2.47553
7.313           1.10476               Australia        ...                  2.54650
7.291           1.08764                  Sweden        ...                  2.54734
7.267           0.99537                  Israel        ...                  3.31029
7.119           1.08383                 Austria        ...                  2.69343
7.104           1.04782           United States        ...                  2.72782
7.087           1.02152              Costa Rica        ...                  3.35168
7.039           1.08113             Puerto Rico        ...                  3.00760
6.994           1.09774                 Germany        ...                  2.50931
6.952           1.03938                  Brazil        ...                  3.50733
6.929           1.05249                 Belgium        ...                  2.61355
6.907           1.16157                 Ireland        ...                  2.15988
6.871           1.03999              Luxembourg        ...                  2.11055
6.778           0.71460                  Mexico        ...                  3.55906
6.739           0.86758               Singapore        ...                  1.99375
6.725           1.08672          United Kingdom        ...                  2.14999
6.705           0.90587                   Chile        ...                  2.95505
6.701           0.98912                  Panama        ...                  3.00559
6.650           1.06612               Argentina        ...                  3.12985
6.596           1.00793          Czech Republic        ...                  2.96211
6.573           0.87114    United Arab Emirates        ...                  2.21507
6.545           1.03143                 Uruguay        ...                  2.67139
6.488           1.09879                   Malta        ...                  1.99032
...                                         ...        ...                      ...
5.528           0.72803                 Romania        ...                  2.45184
5.517           1.05163                 Estonia        ...                  1.81985
5.510           0.96372                 Jamaica        ...                  2.35682
5.488           0.60809                 Croatia        ...                  2.52462
5.458           0.87021               Hong Kong        ...                  0.92614
5.440           0.33613                 Somalia        ...                  3.83772
5.401           0.66062                  Kosovo        ...                  2.80998
5.389           0.87717                  Turkey        ...                  2.29074
5.314           0.87625               Indonesia        ...                  2.03171
5.303           0.86216                  Jordan        ...                  2.20142
5.291           0.76042              Azerbaijan        ...                  2.27350
5.279           0.87877             Philippines        ...                  2.23484
5.245           0.79381                   China        ...                  2.17087
5.196           0.90836                  Bhutan        ...                  1.82916
5.185           0.95434              Kyrgyzstan        ...                  2.28136
5.177           0.81329                  Serbia        ...                  2.27539
5.163           0.64367  Bosnia and Herzegovina        ...                  2.48406
5.161           0.74173              Montenegro        ...                  2.25531
5.155           0.99496      Dominican Republic        ...                  1.69626
5.151           0.38595                 Morocco        ...                  2.94891
5.145           0.93164                 Hungary        ...                  1.95473
5.132           0.26135                Pakistan        ...                  3.18286
5.129           0.64184                 Lebanon        ...                  2.07339
5.123           0.94367                Portugal        ...                  1.53015
5.121           0.78236               Macedonia        ...                  2.08947
5.061           0.79117                 Vietnam        ...                  1.94180
5.057           0.75862       Somaliland Region        ...                  2.43801
5.045           0.43165                 Tunisia        ...                  2.68413
5.033           0.75473                  Greece        ...                  2.12944
4.996           0.75602              Tajikistan        ...                  2.39106

[100 rows x 11 columns]


PIVOTING DATA FRAMES

 * Pivoting: reshape tool

In [51]:
dic = {"cure":["A","A","B","B"],"gender":["F","M","F","M"],"response to cure":[10,45,5,9],"age":[23,18,53,49]}
df = pd.DataFrame(dic)
df

  cure gender  response to cure  age
0    A      F                10   23
1    A      M                45   18
2    B      F                 5   53
3    B      M                 9   49

In [52]:
# pivoting
df.pivot(index="cure",columns = "gender",values="response to cure")

gender   F   M
cure
A       10  45
B        5   9

### STACKING and UNSTACKING DATAFRAME
* deal with multi label indexes
* level: position of unstacked index
* swaplevel: change inner and outer level index position

In [53]:
df1 = df.set_index(["cure","gender"])
df1
# lets unstack it

             response to cure  age
cure gender
A    F                     10   23
     M                     45   18
B    F                      5   53
     M                      9   49

In [54]:
df1.unstack(level=0)

       response to cure    age
cure                  A  B   A   B
gender
F                    10  5  23  53
M                    45  9  18  49

In [56]:
df1.unstack(level=1)

       response to cure     age
gender                F   M   F   M
cure
A                    10  45  23  18
B                     5   9  53  49

In [55]:
# change inner and outer level index position
df2 = df1.swaplevel(0,1)
df2

             response to cure  age
gender cure
F      A                   10   23
M      A                   45   18
F      B                    5   53
M      B                    9   49

### MELTING DATA FRAMES
* Reverse of pivoting

In [57]:
df

  cure gender  response to cure  age
0    A      F                10   23
1    A      M                45   18
2    B      F                 5   53
3    B      M                 9   49

In [58]:
# df.pivot(index="cure",columns = "gender",values="response to cure")
pd.melt(df,id_vars="cure",value_vars=["age","response to cure"])

  cure          variable  value
0    A               age     23
1    A               age     18
2    B               age     53
3    B               age     49
4    A  response to cure     10
5    A  response to cure     45
6    B  response to cure      5
7    B  response to cure      9

<a id="42"></a> <br>
### CATEGORICALS AND GROUPBY

In [59]:
df

  cure gender  response to cure  age
0    A      F                10   23
1    A      M                45   18
2    B      F                 5   53
3    B      M                 9   49

In [60]:
# according to cure take means of other features
df.groupby("cure").mean()   # mean is aggregation / reduction method
# there are other methods like sum, std,max or min

      response to cure   age
cure
A                 27.5  20.5
B                  7.0  51.0

We can only choose one of the feature.

In [61]:
df.groupby("cure").age.max()

cure
A    23
B    53
Name: age, dtype: int64

Or we can choose multiple features.

In [62]:
df.groupby("cure")[["age","response to cure"]].min()

      age  response to cure
cure
A      18                10
B      49                 5

In [67]:
df.info()
# as you can see gender is object
# However if we use groupby, we can convert it categorical data. 
# Because categorical data uses less memory, speed up operations like groupby
df["gender"] = df["gender"].astype("category")
df["cure"] = df["cure"].astype("category")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
cure                4 non-null category
gender              4 non-null category
response to cure    4 non-null int64
age                 4 non-null int64
dtypes: category(2), int64(2)
memory usage: 344.0 bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
cure                4 non-null category
gender              4 non-null category
response to cure    4 non-null int64
age                 4 non-null int64
dtypes: category(2), int64(2)
memory usage: 344.0 bytes